/* Reset ALL THE THINGS */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
}

/* Allow html5 elements in less fancy browsers */
article, aside, figure, footer, header, hgroup, nav, section { display: block; }

/* Force y-axis scrollbar to stop the page jumping around*/
html { overflow-y: scroll; }

/* ClearFix */
.cf:before,
.cf:after {
	content:"";
	display:table;
}
 
.cf:after {
	clear:both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom:1;
}