/*==================================================================
	Page styles
==================================================================*/

#wrapper {
	width:960px;
	margin: 0 auto;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header {
	width: 920px;
	padding: 20px;
}

header h1 {
	font-family: 'Luckiest Guy', sans-serif;
	font-size: 72px;
}

section {
	width: 960px;
}

.categories {
	width: 960px;
}

.categories ul {
	list-style: none;
	width: 960px;
	float: left;
}

.categories ul li {
	float: left;
	margin: 0 10px;
}

.pagination {
	width: 960px;
	text-align: center;
}

.pagination ul {
	list-style: none;
	width: 960px;
	float: left;
}

.pagination ul li {
	float: left;
}

article {
	margin: 20px;
	padding: 20px;
	width: 240px;
	height: 150px;
	float: left;
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

footer {
	width: 960px;
	float: left;
}

/*==================================================================
	Applist specific stuff.
==================================================================*/

.app_error {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	width: 80%;
	margin: 10px auto;
	border-radius: 3px;
	background-color: red;
	border: 1px solid darkred;
	padding: 10px;
	color: #fff;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}